.table {
  width: 100%;
  text-align: center;
}

.table table {
  width: 95%;
  text-align: center;
}

.table caption {
  margin: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: start;
}

.row td {
  overflow-x: scroll;
}
